
<%= link_to 'Admin Site', admin_users_url,:class=>"btn"  if current_user.isadmin? %>
<%= link_to 'logout', destroy_user_session_path, method: "delete", :class=>"btn" if user_signed_in? %>


<% if user_signed_in? %>
<div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
</div>

<div class="form-inline well">
  <%= form_tag do %>
      <%= select_tag :channel, options_from_collection_for_select(Channel.all, "id", "name")   %>
      <%= text_field_tag :user ,current_user.email  %>
      <%= text_field_tag :message   %>

    <button id="send" class="btn btn-primary"  type="submit">Send</button>

   <% end %>
</div>
<% end  %>