<!DOCTYPE html>
<html>
<head>
  <title>CBox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "main">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
         <li> <%= link_to 'Logout',destroy_user_session_path, method: "delete"   %></li>
          <li><%= link_to 'Users',admin_users_path  %></li>
          <li><%= link_to 'Messages', admin_messages_path %></li>
          <li><%= link_to 'Channels', admin_channels_path %></li>
          <li><%= link_to 'Chat Page ', home_path  %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

  <%= yield %>

</div>
</div>

</body>
</html>
